@model List<WebAppIOC.Models.ProductViewModel>;

@{
    
ViewData["Title"] = "ASP.NET Core Dependency Injection Demo";
}

<h2>Lifetimes</h2>

@foreach( var product in Model)
{
    <p>@product.Id, @product.Name</p>

}